<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <style type="text/css">
        	* {
        		margin: 0;
        		padding: 0;
        	}
        	canvas {
        		display: block;
        		margin: auto;
        		position: absolute;
        		top: 0;
        		bottom: 0;
        		left: 0;
        		right: 0;
        	}
        </style>
    </head>
    <script src="../public/javascripts/input.js"></script>
    <script src="../public/javascripts/resources.js"></script>
    <script src="../public/javascripts/sprite.js"></script>
    <script src="../public/javascripts/view.js"></script>
    <body>
    </body>
    
    <script src="../public/javascripts/main.js"></script>
</html>
